{
	"extends": [
		"react-app",
		"react-app/jest",
		"plugin:cypress/recommended"
	],
	"parser": "@babel/eslint-parser",
	"plugins": [
		"simple-import-sort"
	],
	"rules": {
		"no-console": "warn",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"prefer-const": "error",
		"jsx-quotes": [
			"error",
			"prefer-double"
		],
		"quotes": [
			"error",
			"double"
		],
		"max-len": [
			"error",
			{
				"code": 120
			}
		],
		"semi": [
			"warn",
			"always"
		]
	}
}